<h1>Your Score Report</h1>
	
	<p>Your Reading Score is <%= @report.scale_reading  %> </p>
	<p><%= reading_personal %></p>

	<p>Your Math Score is <%= @report.scale_math %></p>
	<p><%= math_personal %></p>

	<p>Your Writing Score will fall between <%= @w_bottom_range %> and <%= @w_top_range %></p>
	<p><%= writing_personal %></p>